<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="normalTyre" class="com.carOwnerShip.NormalTyre"/>
    <bean id="sportsTyre" class="com.carOwnerShip.SportsTyre"/>

    <bean id="normalCar" class="com.carOwnerShip.NormalCar">
        <constructor-arg ref="normalTyre"/>
    </bean>
    <bean id="sportsCar" class="com.carOwnerShip.SportsCar">
        <constructor-arg ref="sportsTyre"/>
    </bean>
    <bean id="truck" class="com.carOwnerShip.Truck">
        <constructor-arg ref="normalTyre"/>
    </bean>


</beans>
